@use "../helpers" as *;

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.nav-list__item {
  width: 100%;

  & + & {
    margin-top: $size-24;
  }
}

.nav-list__link {
  color: $white;
  text-transform: lowercase;
  transition: color .3s;

  &:hover {
    color: $orange-1;
    text-decoration: underline;
  }
}
