@use '../helpers' as *;

.section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.section__col {
    min-height: 100%;
    padding-top: $size-80;
    padding-bottom: $size-80;

    &_lg {
        flex: 463 0 64%;
        background-color: $orange-1;
    }

    &_sm {
        flex: 257 0 36%;
        background-color: $black;
    }

    &_bg {
        &_white {
            background-color: $white;
        }

        &_transparent {
            background-color: transparent;
        }
    }
}
