@use "../helpers" as *;

html {
    background-color: $white;
    font-family: $fontMain;
}

main {
    overflow-x: hidden;
}

.no-scroll {
    overflow: hidden;
}

.main-padding-horizontal {
    padding-left: $size-80;
    padding-right: $size-80;
}

.main-padding-vertical {
    padding-top: $size-80;
    padding-bottom: $size-80;
}

.info-block {
    width: 100%;
    display: flex;
}

.sub-height {
    min-height: 428px;
}

.main-column-width {
    width: 64%;
}

.sub-column-width {
    width: 36%;
}

.text-arrow {
    width: 1em;
    height: 1em;
    position: relative;
    display: flex;
}

.text-arrow__inner {
    display: flex;
    align-items: center;

    path {
        transition: stroke 0.3s;
    }

    &:hover {
        .text-arrow__text {
            color: $white;
        }

        path {
            stroke: $white;
        }
    }

    &_rotate {
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%) rotate(-90deg);
        transform-origin: center;

        .text-arrow__text {
            margin-right: 0px;
            margin-left: 12px;
        }

        .text-arrow__arrow {
            transform: rotate(180deg);
        }
    }
}

.text-arrow__text {
    white-space: nowrap;
    margin-right: 12px;
    transition: color 0.3s;
}

@media screen and (min-width: $desktop-xlg-width) {
}

@media screen and (max-width: $tablet-lg-width) {
}

@media screen and (max-width: $phone-width) {
}
