@use "../helpers" as *;

.button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    border: none;

    transition: background-color 0.3s, border-color 0.3s, fill 0.3s, stroke 0.3s;

    &_type {
        &_svg {
            height: $size-52;
            width: $size-52;
            border-radius: 50%;
            justify-content: center;
            align-content: center;

            border: 2px solid $white;
            background-color: $white;

            svg {
                height: $fs-18;
                width: $fs-18;
                fill: $orange-1;
                stroke: $orange-1;
            }
        }
    }

    &_color {
        &_orange {
            border-color: $orange-1;
            background-color: $orange-1;

            svg {
                fill: $white;
                stroke: $white;
            }

            &:hover {
                border-color: $white;
                background-color: $white;

                svg {
                    fill: $orange-1;
                    stroke: $orange-1;
                }
            }
        }

        &_white {
            border-color: $white;
            background-color: $white;

            svg {
                fill: $orange-1;
                stroke: $orange-1;
            }

            &:hover {
                border-color: $orange-1;
                background-color: $orange-1;

                svg {
                    fill: $white;
                    stroke: $white;
                }
            }
        }

        &_orange-outline {
            border-color: $orange-1;
            background-color: transparent;

            svg {
                fill: $orange-1;
                stroke: $orange-1;
            }

            &:hover {
                border-color: $orange-1;
                background-color: $orange-1;

                svg {
                    fill: $white;
                    stroke: $white;
                }
            }
        }

        &_white-outline {
            border-color: $white;
            background-color: transparent;

            svg {
                fill: $white;
                stroke: $white;
            }

            &:hover {
                border-color: $white;
                background-color: $white;

                svg {
                    fill: $orange-1;
                    stroke: $orange-1;
                }
            }
        }
    }

    &_size {
        &_svg-lg {
            height: $size-104;
            width: $size-104;

            svg {
                height: $size-36;
                width: $size-36;
            }
        }

        &_svg-small {
            height: $size-44;
            width: $size-44;

            svg {
                height: $size-16;
                width: $size-16;
            }
        }
    }
}

.burger-button {
    width: $size-44;
    height: $size-44;
    cursor: pointer;
    background-color: $orange-1;
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    border: none;
    transition: background-color 0.3s, border-color 0.3s, fill 0.3s, stroke 0.3s;

    &__svg {
        fill: $black;
        stroke: $black;
        width: $size-16;
        height: $size-16;
    }
}
