@use '../helpers' as *;
@use "../components/footer-layout";
@use "../components/contacts";
@use "../components/contact-list";
@use "../components/footer-nav";

.footer {
  width: 100%;
  min-height: 491px;
  display: flex;
}

.footer__col {

  &_main {
    background-color: $orange-1;
  }

  &_sub {
    background-color: $black;
  }
}
