@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);
@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

a {
  text-decoration: none;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
    Light 300
    Regular 400
    Medium 500
    Semi-bold 600
    Bold 700
 */
.text {
  color: #333333;
  font-style: normal;
}
.text_size_h1 {
  font-size: 72px;
  line-height: 120%;
}
.text_size_h2 {
  font-size: 48px;
  line-height: 122%;
}
.text_size_h3 {
  font-size: 44px;
  line-height: 122%;
}
.text_size_main {
  font-size: 16px;
  line-height: 175%;
}
.text_size_main-lg {
  font-size: 18px;
  line-height: 122%;
}
.text_size_desc-lg {
  font-size: 36px;
  line-height: 122%;
}
.text_size_desc {
  font-size: 24px;
  line-height: 120%;
}
.text_size_small {
  font-size: 12px;
  line-height: 125%;
}
.text_size_x-small {
  font-size: 8px;
  line-height: 125%;
}
.text_color_orange-1 {
  color: #ff7a00;
}
.text_color_orange-2 {
  color: #e76100;
}
.text_color_black {
  color: #333333;
}
.text_color_gray {
  color: #b1b1b1;
}
.text_color_red {
  color: #c92121;
}
.text_color_white {
  color: #ffffff;
}
.text_weight_medium {
  font-weight: 400;
}
.text_weight_bold {
  font-weight: bold;
}
.text_uppercase {
  text-transform: uppercase;
}

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  border: none;
  transition: background-color 0.3s, border-color 0.3s, fill 0.3s, stroke 0.3s;
}
.button_type_svg {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  border: 2px solid #ffffff;
  background-color: #ffffff;
}
.button_type_svg svg {
  height: 18px;
  width: 18px;
  fill: #ff7a00;
  stroke: #ff7a00;
}
.button_color_orange {
  border-color: #ff7a00;
  background-color: #ff7a00;
}
.button_color_orange svg {
  fill: #ffffff;
  stroke: #ffffff;
}
.button_color_orange:hover {
  border-color: #ffffff;
  background-color: #ffffff;
}
.button_color_orange:hover svg {
  fill: #ff7a00;
  stroke: #ff7a00;
}
.button_color_white {
  border-color: #ffffff;
  background-color: #ffffff;
}
.button_color_white svg {
  fill: #ff7a00;
  stroke: #ff7a00;
}
.button_color_white:hover {
  border-color: #ff7a00;
  background-color: #ff7a00;
}
.button_color_white:hover svg {
  fill: #ffffff;
  stroke: #ffffff;
}
.button_color_orange-outline {
  border-color: #ff7a00;
  background-color: transparent;
}
.button_color_orange-outline svg {
  fill: #ff7a00;
  stroke: #ff7a00;
}
.button_color_orange-outline:hover {
  border-color: #ff7a00;
  background-color: #ff7a00;
}
.button_color_orange-outline:hover svg {
  fill: #ffffff;
  stroke: #ffffff;
}
.button_color_white-outline {
  border-color: #ffffff;
  background-color: transparent;
}
.button_color_white-outline svg {
  fill: #ffffff;
  stroke: #ffffff;
}
.button_color_white-outline:hover {
  border-color: #ffffff;
  background-color: #ffffff;
}
.button_color_white-outline:hover svg {
  fill: #ff7a00;
  stroke: #ff7a00;
}
.button_size_svg-lg {
  height: 104px;
  width: 104px;
}
.button_size_svg-lg svg {
  height: 36px;
  width: 36px;
}
.button_size_svg-small {
  height: 44px;
  width: 44px;
}
.button_size_svg-small svg {
  height: 16px;
  width: 16px;
}

.burger-button {
  width: 44px;
  height: 44px;
  cursor: pointer;
  background-color: #ff7a00;
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  border: none;
  transition: background-color 0.3s, border-color 0.3s, fill 0.3s, stroke 0.3s;
}
.burger-button__svg {
  fill: #333333;
  stroke: #333333;
  width: 16px;
  height: 16px;
}

html {
  background-color: #ffffff;
  font-family: "Montserrat", Arial, sans-serif;
}

main {
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

.main-padding-horizontal {
  padding-left: 80px;
  padding-right: 80px;
}

.main-padding-vertical {
  padding-top: 80px;
  padding-bottom: 80px;
}

.info-block {
  width: 100%;
  display: flex;
}

.sub-height {
  min-height: 428px;
}

.main-column-width {
  width: 64%;
}

.sub-column-width {
  width: 36%;
}

.text-arrow {
  width: 1em;
  height: 1em;
  position: relative;
  display: flex;
  position: relative;
}

.text-arrow__inner {
  display: flex;
  align-items: center;
}
.text-arrow__inner path {
  transition: stroke 0.3s;
}
.text-arrow__inner:hover .text-arrow__text {
  color: #ffffff;
}
.text-arrow__inner:hover path {
  stroke: #ffffff;
}
.text-arrow__inner_rotate {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(-90deg);
  transform-origin: center;
}
.text-arrow__inner_rotate .text-arrow__text {
  margin-right: 0px;
  margin-left: 12px;
}
.text-arrow__inner_rotate .text-arrow__arrow {
  transform: rotate(180deg);
}

.text-arrow__text {
  white-space: nowrap;
  margin-right: 12px;
  transition: color 0.3s;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background-color: transparent;
}

[hidden] {
  display: none;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

svg, video {
  display: block;
  vertical-align: middle;
}

video {
  max-width: 100%;
  height: auto;
}

.bg-white {
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
}

.bg-gray-100 {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.border-gray-200 {
  --border-opacity: 1;
  border-color: #edf2f7;
  border-color: rgba(237, 242, 247, var(--border-opacity));
}

.border-t {
  border-top-width: 1px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.font-semibold {
  font-weight: 600;
}

.h-5 {
  height: 1.25rem;
}

.h-8 {
  height: 2rem;
}

.h-16 {
  height: 4rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-lg {
  font-size: 1.125rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.ml-12 {
  margin-left: 3rem;
}

.-mt-px {
  margin-top: -1px;
}

.max-w-6xl {
  max-width: 72rem;
}

.min-h-screen {
  min-height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.p-6 {
  padding: 1.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.text-center {
  text-align: center;
}

.text-gray-200 {
  --text-opacity: 1;
  color: #edf2f7;
  color: rgba(237, 242, 247, var(--text-opacity));
}

.text-gray-300 {
  --text-opacity: 1;
  color: #e2e8f0;
  color: rgba(226, 232, 240, var(--text-opacity));
}

.text-gray-400 {
  --text-opacity: 1;
  color: #cbd5e0;
  color: rgba(203, 213, 224, var(--text-opacity));
}

.text-gray-500 {
  --text-opacity: 1;
  color: #a0aec0;
  color: rgba(160, 174, 192, var(--text-opacity));
}

.text-gray-600 {
  --text-opacity: 1;
  color: #718096;
  color: rgba(113, 128, 150, var(--text-opacity));
}

.text-gray-700 {
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
}

.text-gray-900 {
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
}

.underline {
  text-decoration: underline;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w-5 {
  width: 1.25rem;
}

.w-8 {
  width: 2rem;
}

.w-auto {
  width: auto;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px) {
  .sm\:rounded-lg {
    border-radius: 0.5rem;
  }

  .sm\:block {
    display: block;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:h-20 {
    height: 5rem;
  }

  .sm\:ml-0 {
    margin-left: 0;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:pt-0 {
    padding-top: 0;
  }

  .sm\:text-left {
    text-align: left;
  }

  .sm\:text-right {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .md\:border-t-0 {
    border-top-width: 0;
  }

  .md\:border-l {
    border-left-width: 1px;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-gray-800 {
    --bg-opacity: 1;
    background-color: #2d3748;
    background-color: rgba(45, 55, 72, var(--bg-opacity));
  }

  .dark\:bg-gray-900 {
    --bg-opacity: 1;
    background-color: #1a202c;
    background-color: rgba(26, 32, 44, var(--bg-opacity));
  }

  .dark\:border-gray-700 {
    --border-opacity: 1;
    border-color: #4a5568;
    border-color: rgba(74, 85, 104, var(--border-opacity));
  }

  .dark\:text-white {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity));
  }

  .dark\:text-gray-400 {
    --text-opacity: 1;
    color: #cbd5e0;
    color: rgba(203, 213, 224, var(--text-opacity));
  }

  .dark\:text-gray-500 {
    --tw-text-opacity: 1;
    color: #6b7280;
    color: rgba(107, 114, 128, var(--tw-text-opacity));
  }
}
body {
  font-family: "Nunito", sans-serif;
}

.first-section {
  min-height: 100vh;
  background-image: url(/images/stub-img.jpg?6afc56c3d5b7a519d9513dc12f1f5e2f);
  position: relative;
  padding-bottom: 80px;
  position: relative;
  display: flex;
  align-items: center;
}

.first-section__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #1a1a1a;
  opacity: 0.5;
}

.first-section__slide-wrapper {
  position: relative;
}

.first-section__desc {
  margin-top: 40px;
  max-width: 452px;
}

.first-section__slider-nav {
  position: absolute;
  bottom: 80px;
  left: 80px;
}

.first-section__arrow-wrapper {
  position: absolute;
  bottom: 80px;
  right: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.3s;
}
.first-section__arrow-wrapper svg {
  -webkit-animation: scroll-arrow-animation 1s ease-in-out 0s infinite alternate;
          animation: scroll-arrow-animation 1s ease-in-out 0s infinite alternate;
}
.first-section__arrow-wrapper:hover {
  opacity: 0.7;
}

.slider-nav {
  display: flex;
  align-items: center;
}

.slider-nav__line {
  margin-right: 20px;
  width: 88px;
  height: 2px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s;
}

.slider-nav__line-wrapper {
  height: 16px;
  display: flex;
  align-items: center;
}
.slider-nav__line-wrapper_active .slider-nav__line-inner {
  transform: scaleX(0.5);
  transform-origin: left;
  transition: transform 0s;
}
.slider-nav__line-wrapper:not(.slider-nav__line-wrapper_active) {
  cursor: pointer;
}
.slider-nav__line-wrapper:not(.slider-nav__line-wrapper_active):hover .slider-nav__line {
  background-color: white;
}

.slider-nav__line-inner {
  height: 100%;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #ff7a00;
  transition: transform 0.3s;
}

@-webkit-keyframes scroll-arrow-animation {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(8px);
  }
}

@keyframes scroll-arrow-animation {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(8px);
  }
}
.section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.section__col {
  min-height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}
.section__col_lg {
  flex: 463 0 64%;
  background-color: #ff7a00;
}
.section__col_sm {
  flex: 257 0 36%;
  background-color: #333333;
}
.section__col_bg_white {
  background-color: #ffffff;
}
.section__col_bg_transparent {
  background-color: transparent;
}

.footer {
  width: 100%;
  height: 50vh;
}

.snip {
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  background-image: url(/images/snip-img.jpg?46b269f5c5edd942aa5a9f72d0661548);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.snip__main-column {
  background-color: #ff7a00;
  position: relative;
  display: flex;
}

.snip__main-column {
  padding-top: 46px;
}

.snip__title {
  margin-bottom: 16px;
}

.snip__desc {
  max-width: 520px;
}

.snip__arrow {
  bottom: 50%;
  position: absolute;
  right: 0;
  transform: translate(50%, 100%);
}
.snip__arrow::after {
  content: "показать дома";
  white-space: nowrap;
  position: absolute;
  right: -16px;
  transform: translateX(100%);
}

.snip__text-arrow {
  align-self: center;
  margin-right: 80px;
}

.expertise__main-column {
  background-image: url(/images/expertise-img.jpg?e1c466f50f4455658fab06d01e0e3db4);
}

.expertise__sub-column {
  background-color: #ff7a00;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.expertise__desc {
  margin-top: 16px;
}

.appear-animation, .step, .steps-section__action,
.partnership__subtitle, .partners-list__item, .accentuation_users::after,
.accentuation_zeeves::after, .accentuation_society::after {
  transform: translateY(20px);
  opacity: 0;
}

.community__button {
  opacity: 0;
}

.observed-js.show .appear-animation, .observed-js.show .step,
.observed-js.show .steps-section__action,
.observed-js.show .partnership__subtitle,
.observed-js.show .partners-list__item, .observed-js.show .community__button,
.observed-js.show .accentuation_users::after, .observed-js.show .accentuation_zeeves::after,
.observed-js.show .accentuation_society::after {
  transition: opacity 0.3s, transform 0.3s, background-color 0.3s, color 0.3s;
  transform: translateY(0);
  opacity: 1;
}
.observed-js.show .step:nth-child(1) {
  transition: opacity 0.3s 0.3s, transform 0.3s 0.3s, background-color 0.3s, color 0.3s;
}
.observed-js.show .step:nth-child(2) {
  transition: opacity 0.3s 0.6s, transform 0.3s 0.6s, background-color 0.3s, color 0.3s;
}
.observed-js.show .step:nth-child(3) {
  transition: opacity 0.3s 0.9s, transform 0.3s 0.9s, background-color 0.3s, color 0.3s;
}
.observed-js.show .step:nth-child(4) {
  transition: opacity 0.3s 1.2s, transform 0.3s 1.2s, background-color 0.3s, color 0.3s;
}
.observed-js.show .steps-section__action {
  transition: opacity 0.3s 1.5s, transform 0.3s 1.5s, background-color 0.3s, color 0.3s;
}
.observed-js.show .partnership__subtitle {
  transition: opacity 0.3s 0.4s, transform 0.3s 0.3s, background-color 0.3s, color 0.3s;
}
.observed-js.show .partners-list__item:nth-child(1) {
  transition: opacity 0.3s 0.6s, transform 0.3s 0.6s, background-color 0.3s, color 0.3s;
}
.observed-js.show .partners-list__item:nth-child(2) {
  transition: opacity 0.3s 0.9s, transform 0.3s 0.9s, background-color 0.3s, color 0.3s;
}
.observed-js.show .partners-list__item:nth-child(3) {
  transition: opacity 0.3s 1.2s, transform 0.3s 1.2s, background-color 0.3s, color 0.3s;
}
.observed-js.show .partners-list__item:nth-child(4) {
  transition: opacity 0.3s 1.5s, transform 0.3s 1.5s, background-color 0.3s, color 0.3s;
}
.observed-js.show .accentuation_users::after {
  transition: opacity 0.3s 0.3s, transform 0.3s 0.3s, background-color 0.3s, color 0.3s;
}
.observed-js.show .accentuation_zeeves::after {
  transition: opacity 0.3s 0.6s, transform 0.3s 0.6s, background-color 0.3s, color 0.3s;
}
.observed-js.show .accentuation_society::after {
  transition: opacity 0.3s 0.9s, transform 0.3s 0.9s, background-color 0.3s, color 0.3s;
}
.observed-js.show .community__button {
  transition: opacity 0.3s 1.2s, transform 0.3s 1.2s, background-color 0.3s, color 0.3s;
}

/* List of sections used on this page: */
